<div id="dashboard">
    <header class="px3" style="background-color:#f8f8f8">
        <div class="max-width-10 flex content-center justify-between">
            <span class="h3 bold m0 py2">Immersity Base</span>
            <button class="btn m0" {{action 'invalidateSession'}}>Salir</button>
        </div>
    </header>
    <section>
            <button class="btn" {{action 'printCurrentUser'}}>Hola</button>
    </section>
</div>
